body{
  background-color:white;
}

*{
  padding:0px;
  position:relative;
  margin:auto;
}

div {
  max-width:400px;
}

.layer:nth-child(2n) {
  background-color:grey;
}
.layer:nth-child(2n+1) {
  background-color:black;
}

.one{
  height:400px;
  width:400px;
}

.two{
  height:350px;
  width:350px;
}

.three{
  height:300px;
  width:300px;
}

.four{
  height:250px;
  width:250px;
}

.five{
  height:200px;
  width:200px;
}

.six{
  height:150px;
  width:150px;
}
